html,
body {
    height: 100%;

}

body {
    font-size: 16px;
    line-height: 30px;
    color: $default;
    display: flex;
    flex-direction: column;
    @extend %dmsans-400;
}

.big-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

%btn {
    background-color: $primary;
    border: none;
    color: #fff;
    cursor: pointer;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
}

.filter-btns {
    display: flex;
    gap: 0 30px;

    &__btn {
        padding: 0;
        border: none;
        font-size: 16px;
        color: $default;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 70px;
        @extend %dmsans-700;
    }

    &__btn--active {
        color: #1a1a1a;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    @extend %rubik-400;
    color: $title;

    &__list {
        display: flex;
        justify-content: center;
        column-gap: 15px;
        margin-right: 15px;
    }

    &__item {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary;
        cursor: pointer;
    }

    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $title;
        width: 73px;
        height: 48px;
        padding: 0 12px;
        border: 1px solid $primary;

    }

    &__item--active {
        color: #ffffff;
        background-color: $primary;
        cursor: default;
    }
}

