html,
body {
    height: 100%;

}

body {
    font-size: 16px;
    line-height: 30px;
    color: $default;
    display: flex;
    flex-direction: column;
    @extend %dmsans-400;
}

.big-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

%btn {
    background-color: $primary;
    border: none;
    color: #fff;
    cursor: pointer;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
}

.filter {
    display: flex;
    gap: 0 30px;

    &__btn {
        padding: 0;
        border: none;
        font-size: 16px;
        color: $default;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 70px;
        @extend %dmsans-700;
    }

    &__btn--active {
        color: #1a1a1a;
    }
}

