@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
}

.menu {
    padding-left: 150px;

    &__list {
        display: flex;
    }

    &__list-item + .menu__list-item {
        margin-left: 35px;
    }

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        text-transform: capitalize;
        color: $accent;
        @extend %rubik-500;
    }
}

.user-nav {
    display: flex;
    gap: 0 20px;

    &__link {
        display: flex;
        align-items: center;
    }

    &__link--search {
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        border-radius: 50%;
    }

    &__link-img {
        margin: 0 auto;
    }

    &__group-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 180px;
        height: 50px;
        background-color: $bg-accent;
        border-radius: 25px;
    }

    &__test {
        height: 32px;
        font-size: 0;
        border-right: 1px solid #fff;
    }

    &__link--group {
        position: relative;
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        top: -9px;
        right: -9px;
        background-color: #fff;
        color: $title;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        line-height: 16px;
    }


    &__link--ellipse {
        width: 50px;
        height: 50px;
        background-color: #a3bbc8;
        border-radius: 50%;
    }
}

.footer {
    padding-top: 80px;
}

.footer-top {
    border-bottom: 1px solid #dae4e9;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 65px;
    }

    &__contacts {
        max-width: 200px;
    }

    &__nav {
        max-width: 200px;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__address,
    &__phone,
    &__email {
        display: block;
        font-size: 14px;
        line-height: 24px;
        color: $default;
        margin-bottom: 10px;
    }

    &__title {
        margin: 15px 0 20px;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        @extend %dmsans-700;
    }

    &__list-item {
        display: block;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    &__link {
        font-size: 14px;
        color: $default;
        @extend %rubik-400;
    }

    &__subscribe {
        max-width: 275px;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 35px;
    }

    &__input {
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 4px 15px;
        background-color: #fef7f0;

        &::placeholder {
            font-size: 12px;
            color: $title;
            @extend %dmsans-500;
        }
    }

    &__btn {
        @extend %btn;
        padding: 4px 13px;
        margin-left: -4px;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 14px;
    line-height: 1.2;

    &__list {
        display: flex;
        margin-right: -14px;
    }

    &__item {
        padding: 0 14px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid $default;
    }

    &__link {
        color: $default;
    }
}

.top-slider {

    &__container {
        background-color: $bg-accent;
        padding: 225px 0 50px;
        position: relative;
        min-height: 820px;
    }

    &__circle {
        position: absolute;
        top: 100px;
        right: 100px;
        border-radius: 50%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        width: 634px;
        height: 634px;
        z-index: 1;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 220px;
    }

    &__title {
        font-size: 72px;
        line-height: 70px;
        color: $title;
        max-width: 440px;
        margin-bottom: 40px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $accent;
        max-width: 360px;
        margin-bottom: 40px;
    }

    &__img {
        margin-top: 60px;
    }

    &__link {
        @extend %rubik-500;
        @extend %btn;
        font-size: 15px;
        line-height: 12px;
        padding: 21px 22px 21px 30px;

        svg {
            margin-left: 50px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            button {
                border: none;
                padding: 0;
                font-size: 11px;
                line-height: 9px;
                color: $title;
                background-color: #ffffff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-left: 15px;
                cursor: pointer;
                opacity: 0.3;
            }
        }

        .slick-active button {
            opacity: 1;
        }
    }
}

.features-top {

    &__container {
        background-color: #fef7f0;
    }

    &__inner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        max-width: 600px;
        position: relative;
        min-height: 170px;
        padding: 44px 0;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            bottom: 50%;
            left: -35px;
            border-radius: 50%;
            background-color: #dfe3e2;
            opacity: 0.3;
            transform: translate(-50%, -50%);
        }

        svg {
            position: absolute;
            top: 45px;
            left: -80px;
        }

    }

    &__item:not(:last-child) {
        border-right: 1px solid #e8e4df;
        padding-right: 145px;
    }


    &__title {
        font-size: 18px;
        line-height: 1;
        color: #414141;
        margin-bottom: 5px;
        @extend %dmsans-700;
    }

    &__text {
        max-width: 205px;
        color: #585858;
        @extend %dmsans-400;
    }

    &__text--delivery {
        max-width: 213px;
    }
}

.week-products {
    padding: 75px 0 185px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__filter {
        display: flex;
        gap: 0 30px;
    }

    &__btn {
        padding: 0;
        border: none;
        font-size: 16px;
        color: $default;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 80px;
        @extend %dmsans-700;
    }

    &__btn--active {
        color: #1a1a1a;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 270px;
        height: 380px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 0 0 40px;
        position: relative;

        &:hover {
            background-color: $bg;
            transition: all .3s;

            .week-products__icons {
                visibility: visible;

            }
        }
    }

    &__item-img {
        margin-bottom: 60px;
    }

    &__item-title {
        @extend %dmsans-500;
        line-height: 1;
        color: $title;
        margin-bottom: 15px;
    }

    &__item-price {
        @extend %dmsans-700;
        line-height: 1;
        color: $primary;
    }

    &__icons {
        display: flex;
        gap: 0 15px;
        position: absolute;
        bottom: 170px;
        visibility: hidden;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;


        &:hover {
            background-color: $primary;
            transition: all .3s;

            path {
                fill: #ffffff;
            }
        }
    }
}

.features-bottom {

    &__inner {
        display: flex;
        gap: 0 30px;
    }

    &__item {
        background-color: #feefe2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-grow: 2;
        min-height: 390px;
        padding-left: 430px;
        @media (max-width: 1440px) {
            padding-left: 300px;
        }
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        color: $title;
        @extend %dmsans-700;
        margin-bottom: 20px;
        max-width: 330px;
    }

    &__text {
        color: $title;
        @extend %rubik-400;
        margin-bottom: 25px;
        max-width: 330px;
    }

    &__link {
        @extend %rubik-500;
        @extend %btn;
        font-size: 15px;
        line-height: 12px;
        color: $accent;
        padding: 23px 20px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #b3b7b5;

        svg {
            margin-left: 40px;
        }

        path {
            display: inline-block;
            fill: $accent;
        }
    }

    &__img {
        position: absolute;
        bottom: 90px;
        right: 500px;
        @media (max-width: 1440px) {
            position: absolute;
            bottom: 90px;
            right: 420px;
        }
    }
}

.design {
    padding-top: 105px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 125px;
    }

    &__item {
        width: 370px;
        background-color: #f8f8f8;
        height: 246px;
        padding: 35px 40px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: 90% center;
    }

    &__item-title {
        max-width: 175px;
        color: #191919;
        font-size: 20px;
        line-height: 1.2;
        @extend %dmsans-700;
        margin-bottom: 18px;
    }

    &__item-style {
        color: $primary;
        font-weight: bold;
        line-height: 1.2;
        text-transform: capitalize;
    }
}

.design-video {
    background-image: url("../images/design-video-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__play {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 126px;
        height: 126px;
        background: rgba($primary, 0.4);
    }

    &__img {
        position: relative;
        padding: 36px;
    }

    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: $primary;
        width: 98px;
        height: 98px;
    }
}

.blog {
    padding-top: 120px;
    background: linear-gradient(to bottom, white 435px, #fef7f0 443px);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;

        img {
            display: inline;
            margin-left: 10px;
        }
    }

    &__link {
        font-weight: bold;
        color: #262626;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 0 30px;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        background-color: #ffffff;
    }

    &__item-imgLink {
        position: relative;

        &::after {
            content: 'news';
            position: absolute;
            width: 102px;
            height: 30px;
            border-radius: 15px;
            color: #ffffff;
            background-color: $primary;
            text-transform: uppercase;
            bottom: -15px;
            left: 15px;
            z-index: 3;
            text-align: center;
        }

    }

    &__item-img {
        object-fit: cover;
    }

    &__item-wrapper {
        padding: 35px 28px;
    }

    &__item-title {
        display: inline-block;
        line-height: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        min-height: 85px;
        margin-bottom: 23px;
    }

    &__item-titleLink {
        color: #262626;
        font-size: 18px;
        @extend %dmsans-500;
    }

    &__item-box {
        display: flex;

        a {
            color: #222933;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    &__item-date {
        margin-right: 30px;
    }
}

.partners {
    padding: 100px 0 90px;

    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &--modal {
        padding: 75px 0 90px;
        background-color: #fef7f0;
    }
}

.top {
    max-width: 1920px;
    padding: 33px 0;
    background-color: #edf1f4;
    text-align: center;

    &__title {
        @extend %rubik-300;
        font-size: 36px;
        color: #222933;
        line-height: 24px;
        margin-bottom: 10px;
    }
}


.breadcrumbs {
    &__link {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #888c91;
        margin: 0 8px;
        position: relative;

        &::after {
            content: '/';
            position: absolute;
            bottom: -4px;
            right: -12px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.modal {
    padding: 120px 0;

    &__form {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #436372;
        position: relative;
    }

    &__label {
        margin-bottom: 25px;
    }

    &__input {
        display: block;
        width: 100%;
        margin-top: 5px;
        border: 2px solid #f6f6f6;
        padding: 15px;
        font-size: 16px;
        margin-bottom: 25px;

        &:-webkit-autofill {
            -webkit-box-shadow: inset 0 0 0 50px #fff;
        }
    }

    &__button {
        @extend %btn;
        @extend %rubik-500;
        margin-top: 10px;
        font-size: 18px;
        padding: 15px 0;
        width: 100%;
        margin-bottom: 25px;
    }


    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #f6f6f6;
        padding-bottom: 30px;
        margin-bottom: 30px;

        label {
            margin-bottom: 0;
        }
    }

    &__lostPasswordLink {
        color: #436372;
    }

    &__registerLink {
        color: #436372;
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }

    &__createLink {
        display: block;
        text-align: center;
        border: 1px solid $primary;
        padding: 20px 0;
        color: $title;
        @extend %rubik-500;
        font-size: 18px;
    }

    &__text {
        margin: 15px 0;
    }
}

.about {
    &__title--page {
        color: $title;
    }

    &__content {
        padding: 120px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 0 40px;
    }

    &__box {
        max-width: 555px;
        width: 100%;
        padding-top: 80px;
    }

    &__numbers {
        display: flex;
        margin-bottom: 40px;
    }

    &__number-count {
        font-size: 140px;
        color: $primary;
        @extend %rubik-700;
        margin-right: 20px;
        padding-top: 18px;
    }

    &__number-descr {
        @extend %rubik-400;
        color: $title;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text {
        font-size: 16px;
        color: $title;
        @extend %rubik-400;
        padding-bottom: 65px;
        border-bottom: 3px solid #e6eaf0;
        margin-bottom: 40px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 81px;
            background-color: #e6eaf0;
            top: -13px;
            right: -35px;
        }
    }

    &__item:last-child {
        &::after {
            display: none;
        }
    }

    &__item-img {
        margin-right: 20px;
    }

    &__item-count {
        font-size: 36px;
        @extend %dmsans-700;
        color: $title;
        margin-bottom: 5px;
    }

    &__item-title {
        @extend %dmsans-700;
        line-height: 17px;
        color: #4c4c4c;
    }

    &__link-page {
        color: $title;
    }
}

.about-info {
    padding: 80px 0;
    background-color: $bg-accent;

    &__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        position: relative;
        z-index: 1;
        width: 270px;


        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: $primary;
            width: 35px;
            height: 35px;
            top: 25px;
            right: 95px;
            z-index: -1;
        }
    }

    &__img {
        margin: 0 auto 20px;
        width: 60px;
        height: 60px;
    }

    &__title {
        padding-left: 5px;
        margin-top: 20px;
        font-size: 36px;
        @extend %dmsans-700;
        color: $title;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 18px;
        @extend %dmsans-700;
        color: $title;
    }
}

.team {
    padding: 120px 0 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 305px;
        color: $title;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 35px;
        line-height: 30px;
    }

    &__items {
        display: grid;
        grid-template-rows: repeat( 2, 1fr);
        grid-template-columns: repeat( 2, 1fr);
        min-height: 320px;
        gap: 100px 30px;
    }

    &__link {
        @extend %btn;
        padding: 18px 25px 18px 18px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        line-height: 3.667;

        img {
            display: inline-block;
            margin-left: 18px;
        }
    }

    &__item {
        position: relative;
    }

    &__item-box {
        background-color: #ffffff;
        box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
        position: absolute;
        width: 325px;
        height: 111px;
        bottom: -63px;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 22px;
        line-height: 26px;
        color: #436372;
        margin-bottom: 5px;
    }

    &__item-subtitle {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #565872;
    }

    &__item-bottom {
        display: flex;
        gap: 0 12px;
    }

    &__item-link {
        width: 40px;
        height: 40px;
        background-color: #f6f6f6;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.terms {
    padding-top: 120px;

    &__inner {
        color: $title;
    }

    &__item {
        &:last-child {
            margin-bottom: 0;
        }

        margin-bottom: 60px;
    }

    &__lists {
        list-style-type: decimal-leading-zero;
        margin-left: 25px;
    }

    &__list {
        padding-left: 10px;
        margin-bottom: 20px;
        @extend %rubik-400;
    }

    &__item-title {
        font-size: 24px;
        @extend %rubik-500;
        line-height: 1.667;
        margin-bottom: 10px;
    }

}

@import "media";

